@import '../../styles/variables';

.btn {
  display: inline-flex;
  align-items: center;
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  font: 300 14px 'Roboto';
  background-color: $c-dark4;
  box-shadow: 0 0 0 1px rgba($c-dark1, 0.4);
  background: linear-gradient(to bottom, rgba(darken($c-dark4, 5%), 1) 0%, rgba($c-dark3, 1) 50%);
  outline: none;
  cursor: pointer;
  color: $c-text2;

  &:hover {
    background: linear-gradient(to top, rgba(darken($c-dark4, 5%), 1) 0%, rgba($c-dark3, 1) 50%);
  }

  &:active {
    background: darken($c-dark4, 10%);
  }
}
