$c-white: #fff;
$c-black: #000;
$c-text: #f5f8fa;
$c-text2: #bfccd6;

$c-dark1: #10161a;
$c-dark2: #30404d;
$c-dark3: #293742;

$c-red1: #AA3939;
$c-red2: #FFAAAA;

$transition: 0.3s cubic-bezier(0.4, 1, 0.75, 0.9);