$c-white: #fff;
$c-black: #000;
$c-text: #f5f8fa;
$c-text2: #bfccd6;
$c-text3: rgba($c-text2, 0.5);

$c-dark1: #10161a;
$c-dark2: #30404d;
$c-dark3: #293742;
$c-dark4: #394b59;

$c-red1: #B02147;
$c-red2: #F0AEC0;

$transition: all 0.3s cubic-bezier(0.4, 1, 0.75, 0.9);