@import '../../styles/variables';

.container {
  padding: 10px;
  background-color: lighten($c-dark1, 5%);

  &__title {
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-bottom: 1px solid $c-red2;
    color: $c-text2;
  }
}

.tag {
  display: inline-block;
  margin: 3px;
  padding: 3px 6px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid $c-dark1;
  background-color: lighten($c-dark1, 10%);
  transition: $transition;
  cursor: pointer;
  user-select: none;
  color: $c-text2;

  &--active,
  &:hover {
    background-color: lighten($c-dark1, 18%);
    color: $c-text1;
  }
}
