@import '../../styles/variables';

.container {
  width: 280px;
  padding: 20px 10px;
  margin-left: 20px;
  background-color: $c-dark2;
}

.tag {
  display: inline-block;
  margin: 3px;
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid $c-dark1;
  background-color: $c-dark3;
  transition: $transition;
  color: $c-text2;
  cursor: pointer;

  &--active,
  &:hover {
    color: $c-text;
    background-color: rgba($c-text2, 0.2);
  }
}