@import '../../styles/variables';

.container {
  height: 100vh;
  width: 800px;
  padding-top: 20px;
  background-color: $c-dark2;

  &__title {
    position: relative;
    padding: 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 4px;
    background-color: $c-dark3;
    transition: $transition;
    z-index: 2;
    color: $c-red1;
    cursor: default;
    box-shadow:
      0 0 0 1px rgba($c-dark1, 0.4),
      0 2px 4px rgba($c-dark1, 0.4);

    &:hover {
      letter-spacing: 8px;

      &::before {
        box-shadow: 0 0 20px 0px $c-red1;
      }
    }

    &::before {
      position: absolute;
      top: 0;
      left: -7px;
      display: block;
      width: 7px;
      height: 60px;
      background-color: $c-red1;
      transition: $transition;
      content: '';
    }
  }
}

.list {
  position: relative;
  width: 100%;
  height: calc(100% - 60px);
  overflow: hidden;

  &__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px;
    padding-top: 20px;
    overflow-y: scroll;
  }
}

.preview {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 15px;
  padding: 20px;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 1.3px;
  font-weight: 300;
  background-color: $c-dark3;
  transition: $transition;
  color: $c-text;
  cursor: pointer;
  box-shadow:
    0 0 0 1px rgba($c-dark1, 0.4),
    0 2px 4px rgba($c-dark1, 0.4);

  &:hover {
    box-shadow:
      0 0 0 1px rgba($c-dark1, 0.2),
      0 2px 4px rgba($c-dark1, 0.4),
      0 8px 24px rgba($c-dark1, 0.4);
  }

  &__info {
    flex: 1 1 auto;
    margin-left: 20px;
  }

  &__img {
    flex: 0 0 300px;
    width: 300px;
    border-radius: 6px;
    border: 2px solid lighten($c-dark1, 5%);
    background-color: lighten($c-dark1, 5%);
  }

  &__title {
    display: block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    transition: $transition;
    color: $c-red2;

    &:hover {
      text-decoration: underline;
    }
  }

  &__desc {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__by {
    font-style: italic;
    color: $c-red2;
  }

  &__value {
    text-transform: uppercase;
    color: $c-text2;
  }
}
