@import '../../styles/variables';

.container {
  flex: 1 1 800px;

  &__title {
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
    font: 300 20px 'Roboto';
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
    transition: $transition;
    z-index: 2;
    background-color: $c-dark3;
    cursor: default;
    color: $c-text1;
    box-shadow:
      0 0 0 1px rgba($c-dark1, 0.4),
      0 2px 4px rgba($c-dark1, 0.4);

    &:hover {
      letter-spacing: 8px;

      &::before {
        box-shadow: 0 0 20px 0px $c-red1;
      }
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0px;
      display: block;
      width: 7px;
      height: 60px;
      content: '';
      transition: $transition;
      background-color: $c-red1;
    }
  }

  &__btn-wrap {
    margin-top: 25px;
    text-align: center;
  }
}

.preview {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding: 20px;
  font-size: 13px;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 1.3px;
  background-color: $c-dark3;
  transition: $transition;
  color: $c-text1;
  cursor: pointer;
  box-shadow:
    0 0 0 1px rgba($c-dark1, 0.4),
    0 2px 4px rgba($c-dark1, 0.4);

  &:hover {
    box-shadow:
      0 0 0 1px rgba($c-dark1, 0.2),
      0 2px 4px rgba($c-dark1, 0.4),
      0 8px 24px rgba($c-dark1, 0.4);
  }

  &__info {
    flex: 1 1 auto;
  }

  &__img {
    position: relative;
    flex: 0 0 300px;
    width: 300px;
    margin-right: 20px;
    border-radius: 6px;
    border: 1px solid lighten($c-dark1, 5%);
    background-color: lighten($c-dark1, 8%);
    
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: block;
      height: 100%;
      font-size: 13px;
      text-align: center;
      background-color: lighten($c-dark1, 7%);
      content: attr(alt);
      color: $c-text3;
    }
  }

  &__title {
    display: block;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    text-decoration: none;
    transition: $transition;
    color: $c-red2;

    &:hover {
      text-decoration: underline;
    }
  }

  &__desc {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__by {
    font-style: italic;
    color: $c-red2;
  }

  &__value {
    text-transform: uppercase;
    color: $c-text2;
  }
}
